//base color of windows98
$base:#c0c0c0;
//line color
$line:#000000;
//error red
$red:#eb3223;
//windows title gradient
$gradient:linear-gradient(left,#08216b,#a5cef7);
//white
$white:#ffffff;
//Inner dash line
.innerDash{
  outline: 1px dotted $line;
  outline-offset: -4px;
}
